{% extends 'base.html.twig' %}

{% block title %}New Blog
{% endblock %}

{% block body %}


	{{ include('blog/_form.html.twig') }}

	<button class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-1 px-2 rounded">
		<a href="{{ path('blog_index') }}">back to list</a>
	</button>
{% endblock %}
