{% extends 'base.html.twig' %}

{% block title %}Edit Article
{% endblock %}

{% block body %}
	<br>
	<div class="container flex justify-center ">

		<h1 class="text-3xl text-cyan-500">Edit Article</h1>

	</div>
	<br>

	<div class="container flex justify-center mx-auto">
		<div class="flex flex-col">
			<div class="w-full"></div>
			<center>
            			{{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
            	{{ include('article/_delete_form.html.twig') }}
	
				<button class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-1 px-2 rounded">
					<a href="{{ path('article_index') }}">back to list</a>
				</button>

			
			</center>
		</div>
	</div>
{% endblock %}
