{% extends 'base.html.twig' %}

{% block title %}New Article
{% endblock %}

{% block body %}
	<center>
		<br>
		<div class="container flex justify-center ">

			<h1 class="text-3xl text-cyan-500">Create new Article</h1>
		
	</div>
	</center>
	<br>

	<div class="container flex justify-center mx-auto">
		<div class="flex flex-col">
			<div class="w-full"></div>

			
				{{ include('article/_form.html.twig') }}
				<center>
				<button class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-1 px-2 rounded">
					<a href="{{ path('article_index') }}">back to list</a>
				</button>

			</center>
		</div>
	</div>
{% endblock %}
